services:
  dev:
    container_name: fairdo-designer-dev
    build:
      context: ./docker
      dockerfile: Dockerfile
    # simulate deployment environment
    environment:
      BASE_PATH: "/fair-do-designer"
    ports:
      - 127.0.0.1:8080:3000
    # Make repo available as mount
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "pipx run pre-commit install && bun install && bun run build && bun run dev"
